@import url(https://fonts.googleapis.com/css?family=Roboto);

.login label,
.login input {
  margin-top: -5px;
  font-size: 13px;
  letter-spacing: 1px;
}

.login button {
  background-color: #0971D9;
  font-size: 13px;
  margin-top: 5px;
  float: right;
}

.login .alert {
  font-size: 15px;
  padding: 10px;
}